<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-left">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h6 class="text-danger" >🔊 Sự kiện <b>[Nhắc Active hạn mức]</b> đang bảo trì và sẽ quay lại vào ngày 09/07/2025. Xin lỗi vì sự bất tiện này</h6>
                    </li>
<!--                    <li class="list-inline-item">-->
<!--                        <a class="text-muted" href="#">Help Center</a>-->
<!--                    </li>-->
<!--                    <li class="list-inline-item">-->
<!--                        <a class="text-muted" href="#">Privacy</a>-->
<!--                    </li>-->
<!--                    <li class="list-inline-item">-->
<!--                        <a class="text-muted" href="#">Terms of Service</a>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="col-6 text-right">
                <p class="mb-0">
                    &copy; 2025 - <a href="/" class="text-muted">Risk STP - MSB</a>
                </p>
            </div>
        </div>
    </div>
</footer>