<nav id="sidebar" class="sidebar">
    <div class="sidebar-content ">
            <a class="sidebar-brand" href="/">

            <i class="align-middle" data-feather="gitlab"></i>
            <span class="align-middle">MSB Customer Care</span>
        </a>

        <ul class="sidebar-nav">
            <!-- Section for manager -->
            <li class="sidebar-header">
                Chức năng
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ request.url_for('msb_event_create_event') }}">
                    <i class="align-middle" data-feather="plus-square"></i> <span class="align-middle">Tạo mới sự kiện</span>
                    <span class="sidebar-badge badge badge-primary">Primary</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ request.url_for('msb_event_list_event') }}">
                    <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Quản lý sự kiện</span>
                    <span class="sidebar-badge badge badge-secondary">Mới</span>
                </a>
            </li>
        </ul>

        <div class="sidebar-bottom d-none d-lg-block">
            <div class="media">
                <img class="rounded-circle mr-3" src="{{ url_for('static', path='/img/icon/msb-logo.png') }}" width="40" height="40">
                <div class="media-body">
                    <h5 class="mb-1">{{user.username}}</h5>
                    <div>
                        <i class="fas fa-circle text-success"></i> Online
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>